<% if(currentUser){ %>
<% layout('./layouts/boilerplate.ejs')%>
<%- include('../../../../layouts/partials/settings.ejs') %>
<% }else{ %>
    <% layout('./layout/boilerplate.ejs') %>
   

<% } %>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.24.0/dist/axios.min.js"></script>
    <title><%= foundquiz.title %></title>
    <style>
        .quizcontent {
            width: 80%;
            max-width: 100%;
            margin: 0 auto;
            padding: 0 1rem;
        }
        .reco{
            width: 20%;
            max-width: 100%;
            margin: 0 auto;
        }
        @media only screen and (max-width: 600px) {
            content{
                display: flex;
                flex-wrap: wrap;
            }
            #content-menu{
                flex-wrap: wrap;
            }
            .quizcontent{
                width: 100%;
            }
            .reco{
                width: 100%;
                padding: 0.3em;
            }
        }
    </style>
    <div class="content mt-5 flex fle fullscreen"  id="content-menu">
        
            <br>
            <%- include('../../../../layouts/partials/flash.ejs') %>
        <div class="quizcontent">
                <div class="border rounded-md bg-white shaodw  p-2">
                    <div class="flex">
                        <% if(foundquiz.imageUrl){ %>
                            <img style="min-width: 6em ; min-height: 7em; max-width: 9em; max-height: 9em;"
                                class="rounded-lg h-26 w-26" src="<%= foundquiz.imageUrl %>" alt="" srcset="">
                            <%}else{%>
                                <img style="min-width: 8em ; display: none; min-height: 9em; max-width: 8em; max-height: 9em;"
                                    class="rounded-lg h-26 w-26" src="/imgs/home/gukarinophoto.png" alt="" srcset="">
                                <% } %>

                                    <div class="flex ml-3 flex-col w-full">
                                        <div class="flex justify-between">
                                            <span
                                                class="bg-yellow-100 text-center  text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded ">
                                                <%=foundquiz.category %>
                                            </span>
                                            <button class="mr-2"> <i class="bi bi-share"></i> </button>
                                        </div>
                                        <span class="font-medium text-2xl quiztitle">
                                            <%= foundquiz.title %>
                                        </span>
                                        <span class="quizdescription">
                                            <%= foundquiz.description %>
                                        </span>

                                        <div class="flex items-center">
                                            <span class="text-sm">
                                                <i class="bi  bi-play-fill"></i>
                                                <%= foundquiz.plays %> plays
                                            </span>
                                            <% if(currentUser) {%>
                                                <form id="saveForm" action="/quizcard/<%= foundquiz._id %>/save"
                                                    method="post">
                                                    <button class="mr-1 flex justify-center items-center ml-2 rounded">
                                                        <i class="bi mb-2 text-md bi-star-fill text-yellow-500"></i>
                                                    </button>
                                                </form>

                                                <span class="starnum">
                                                    <%= foundquiz.saves.length %>
                                                </span>
                                                <%}else {%>
                                                    <span class="mr-1 flex justify-center items-center ml-2 rounded">
                                                        <i class="bi mb-2 text-md bi-star-fill text-yellow-500"></i>
                                                    </span>

                                                    <span class="starnum">
                                                        <%= foundquiz.saves.length %>
                                                    </span>

                                                    <% } %>

                                        </div>
                                        <span class=" ml-2 " style=" width: 11em;">
                                            <span class="text-sm">
                                                <i class="bi bi-tags"></i>Tags
                                            </span>
                                            <% const getRandomColorClass=()=> {
                                                const colors = ['blue', 'gray', 'red', 'green', 'yellow', 'indigo'];
                                                const randomIndex = Math.floor(Math.random() * colors.length);
                                                return colors[randomIndex];
                                                }; %>

                                                <% foundquiz.tags.forEach(tag=> { %>
                                                    <span
                                                        class="w-11 <%= tag.color %> text-xs text-black font-medium mr-2 px-2.5 py-0.5 rounded ">
                                                        <%= tag.name %>
                                                    </span>
                                                    <% }) %>
                                        </span>
                                    </div>
                    </div> <br>
                    <div class="user flex justify-between">
                        <div class="flex items-center content-center">
                            <img class="w-11 h-11 rounded-full"
                                src=" <%= quizowner.photourl %>"
                                alt="" srcset="">

                            <div class="ml-2">
                                <%= quizowner.username %><br>
                                    <span class="text-sm">Joined <b>
                                            <%= (new Date(quizowner.createdAt)).getFullYear() %>
                                        </b></span>
                            </div>
                        </div>

                        <div class="flex ">
                            <% if(currentUser) {%>
                                <% if (foundquiz.author.equals(currentUser._id)) { %>

                                    <a href="/home/quiz/<%= foundquiz._id %>/edit" id="EditButton"
                                        data-modal-toggle="EditModal"
                                        class="  ml-2 block border text-center  hover:bg-blue-600 hover:text-white hover:border-none   font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                                        Edit
                                    </a>
                                    <button id="deleteButton" data-modal-toggle="deleteModal"
                                        class=" ml-2 block bg-red-700 text-white hover:bg-red-800   font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                                        type="button">
                                        Delete
                                    </button>

                                    <!-- Main modal -->
                                    <div id="deleteModal" tabindex="-1" aria-hidden="true"
                                        class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full">
                                        <div class="relative p-4 w-full max-w-md h-full md:h-auto">
                                            <!-- Modal content -->
                                            <div
                                                class="relative p-4 text-center bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
                                                <button type="button"
                                                    class="text-gray-400 absolute top-2.5 right-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center  dark:hover:text-white"
                                                    data-modal-toggle="deleteModal">
                                                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor"
                                                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd"
                                                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                                            clip-rule="evenodd"></path>
                                                    </svg>
                                                    <span class="sr-only">Close modal</span>
                                                </button>
                                                <svg class="text-gray-400 dark:text-gray-500 w-11 h-11 mb-3.5 mx-auto"
                                                    aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd"
                                                        d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                                        clip-rule="evenodd"></path>
                                                </svg>
                                                <p class="mb-4 text-gray-500 dark:text-gray-300">Are you sure you want
                                                    to delete this Quiz item?</p>
                                                <div class="flex justify-center items-center space-x-4">
                                                    <button data-modal-toggle="deleteModal" type="button"
                                                        class="py-2 px-3 text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-200 hover:bg-gray-100    hover:text-gray-900 ">
                                                        No, cancel
                                                    </button>
                                                    <a href="/home/quiz/<%= foundquiz._id %>/delete" type="submit"
                                                        class="py-2 px-3 text-sm font-medium text-center text-white bg-red-600 rounded-lg hover:bg-red-700 ">
                                                        Yes, I'm sure
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% }%>
                                        <div class="flex flex-col">
                                        <div data-id="cardpopout" class="absolute clone-ppopup hidden rounded-xl p-2 bg-gray-200 flex flex-col">
                                            <span class="text-xl ">Are you sure you want to clone this card</span>
                                            <div class="w-full flex justify-center items-center"> 
                                            <button id="clonecard" class="p-3 w-22 h-13 text-xs text-white rounded-xl bg-blue-500">Clone</button>
                                        </div>
                                        <br>

                                        </div>
                                        <% if(currentUser){ %>
                                            <% } %>
                                        <div data-id="addterms" class=" addterms absolute clone-ppopup hidden rounded-xl p-2 bg-gray-200 flex flex-col">
                                            <span class="text-xl ">Slect white you would like to combined</span>
                                            
                                            <select id="usercards" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
                                            <option selected>Choose a Card</option>
                                            <% for( userquiz of userQuizCards){ %>
                                                <% if(userquiz._id !== foundquiz._id){ %>
                                                    <option value="<%= userquiz._id %>"><%= userquiz.title %></option>
                                                    <% } %>
                                                <% } %>
                                            </select>

                                            <div class="w-full flex justify-center items-center"> 
                                            <button id="addterms" class="mt-3 mb-2 p-3 w-22 h-13 text-xs text-white rounded-xl bg-blue-500">Add</button>
                                        </div>
                                        <br>

                                        </div>

                                        <div data-id="folders" class=" hidden folders absolute clone-ppopup mb-28  rounded-xl p-2 bg-gray-200 flex flex-col">
                                            <span class="text-xl ">Save quizcard to</span>
                                            <div id="dropdownSearch" class="z-10  bg-white rounded-lg shadow w-60 ">
                                                <div class="p-3">
                                                  <label for="input-group-search" class="sr-only">Search</label>
                                                  <div class="relative">
                                                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                                      <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                                                    </svg>
                                                    </div>
                                                    <input type="text" id="input-group-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 " placeholder="Search user">
                                                  </div>
                                                </div>
                                                <ul class="h-48 px-3 pb-3 overflow-y-auto text-sm text-gray-700 " aria-labelledby="dropdownSearchButton">
                                                    <%for(let folder of folders){%>
                                                  <li>
                                                    <div class="flex items-center p-2 rounded hover:bg-gray-100 ">
                                                      <input data-id="<%=folder._id %>" id="checkbox-item" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500">
                                                      <label for="checkbox-item-11" class="w-full ml-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300"><%=folder.name%></label>
                                                    </div>
                                                  </li>
                                                <% } %>
                                                  <li>
                                                    <div class="flex items-center p-2 rounded hover:bg-gray-100 ">
                                                        <input checked id="checkbox-item-12" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500">
                                                        <label for="checkbox-item-12" class="w-full ml-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">Jese Leos</label>
                                                      </div>
                                                  </li>
                                                 
                                                </ul>
                                                <div class="newfolder hidden p-1">
                                                    <div>
                                                        <span class="text-xs">title</span>
                                                        <input type="text" id="title" class="w-full titleinput rounded-xl p-2 border-0 bg-gray-100">
                                                    </div>
                                                    <div>
                                                        <div>
                                                            <label for="visibility" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select an option</label>
                                                            <select id="visibility"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                                              <option selected>visibility</option>
                                                              <option value="public">Public</option>
                                                              <option value="private">Private</option>
                                                              <option value="unlisted">Unlisted</option>
                                                            </select>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="flex justify-between w-full p-2 ">
                                                    <button id="createbtn" class="create p-3 rounded-xl w-16 h-5">Create</button>
                                                </div>

                                                </div>
                                                <button class="flex newfolderbtn items-center p-3 text-sm font-medium bg-gray-100 border-t border-gray-200 rounded-b-lg hover:underline">
                                                Create a new folder
                                                 
                                                </button>
                                            </div>

                                        </div>
                                        <div class="flex"> 
                                        <button data-id="cardpopout"  class=" duplicatecard border-none bg-gray-100 ml-2 p-2 rounded">
                                            <i class="bi text-gray-800 bi-files"></i>
                                        </button>
                                        <button data-id="cardpopout2"  class="duplicatecard2 border-none bg-gray-100 ml-2 p-2 rounded">
                                            <i class="bi text-gray-800  bi-file-plus"></i>
                                        </button>
                                        <button data-id="cardpopout3"  class="duplicatecard3 border-none bg-gray-100 ml-2 p-2 rounded">
                                            <i class="bi  text-gray-800  bi-folder-plus"></i>
                                        </button>

                                    </div>
                                    </div>
                                            <% } else{%>

                                                <button class="border-none bg-gray-100 hover:bg-gray-200 ml-2 p-2 rounded">
                                                    <i class="bi bi-files"></i> Edit
                                                </button>
                                                <% } %>

                        </div>
                    </div>

                </div>

                <br>
                <div class=" p-3 flex justify-around">
                    <a href="/home/quiz/<%= foundquiz._id %>/quiz"
                        class="p-4 ml-3 border-none bg-red-400 hover:bg-red-500 text-white items-center content-center justify-center flex border rounded-lg"
                        style="width: 11em;">
                        <img class="w-7" src="https://cdn-icons-png.flaticon.com/512/5231/5231713.png" alt="" srcset="">
                        <span class="ml-2 text-2xl">Quiz</span>
                    </a>
                    <a href="/home/quiz/<%= foundquiz._id %>/cards"
                        class="p-4 ml-3 border-none bg-blue-400 hover:bg-blue-500 text-white items-center content-center justify-center flex border rounded-lg"
                        style="width: 11em;">
                        <i class="bi bi-wallet2 text-2xl"></i>
                        <span class="ml-2 text-2xl">Cards</span>
                    </a>
                    <a href="/home/quiz/<%= foundquiz._id %>/match"
                        class="p-4 ml-3 border-none bg-purple-400 hover:bg-purple-500 text-white items-center content-center justify-center flex border rounded-lg"
                        style="width: 11em;">
                        <i class="bi bi-layers-half text-2xl"></i>
                        <span class="ml-2 text-2xl">Match</span>
                    </a>
                </div>
                <br>
                <div>
                    <div class="flex justify-between">

                        <span>
                            Terms in this set (<%=foundquiz.cards.length %>)
                        </span>

                        <button>
                            Original
                        </button>

                    </div>
                    <br>
                    <div class="flex justify-between">
                        <span class="font-semibold">Term</span>
                        <span class="font-semibold">definition</span>

                    </div>
                    <div class="w-full flex flex-col">
                        <% foundquiz.cards.forEach(card=> { %>
                            <div class=" border shadow bg-white rounded-lg mb-4 p-6">
                                <div
                                    class="flex items-center text-center content-center justify-between items-center mb-4">
                                    <span class="text-2xl mr-4" >
                                        <%= card.position %>.
                                    </span>
                                    <div class="flex" style="flex: 1;">
                                        <textarea name="d" id="" cols="10"  class=" mr-10 text-lg  text-center flex flex-wrap  w-full font-medium overflow-wrap break-word bg-transparent resize-none border-0" disabled><%= card.term %></textarea>
                                      </div>
                                      <div class="vl" style="  border-left: 1px solid rgb(110, 115, 110);
                                      height: 3.5em;"></div>

                                      <div  style="flex: 1;" class="flex">
                                        <textarea name="d" id="" cols="10"  class="ml-8 text-center text-lg text-gray-700 flex justify-center text-lg w-full  resize-none text-gray-400 bg-transparent overflow-wrap break-word" disabled><%= card.definition %></textarea>
                                       <% if(card.image &&card.image !==  '/public/uploads/china_1687641298604.jpeg'){ %>
                                        <img class="w-16 h-16 rounded" style="margin-left: 2em;" src="<%= card.image %>" alt="" srcset=""> 
                                       <% } %>
                                      </div>
                                  
                                </div>
                            </div>
                            <% }) %>
                            <br><br><br>
                    </div>



                </div>
    </div>
    <div class="reco">
        <div class="flex justify-between">
            <span class="font-semibold">Recommended</span>
            <span class="font-semibold">See all</span>
    </div>
    <div class="flex flex-col"> 
        <% for(let quiz of totalquiz){ %>
            <% if ( quiz.category == foundquiz.category || quiz.title.toLowerCase().includes(foundquiz) && quiz.title !== foundquiz.title ) { %>


        <a href="/home/quiz/<%= quiz._id%>" class="padding bg-white mb-2 p-2 flex w-full over bg-gray-100 hover:bg-gray-200  border-none rounded-md">
            <% if( quiz.imageUrl && quiz.imageUrl !== '/public/uploads/china_1687641298604.jpeg'){%>
            <img class="rounded" style="width: 6em; height: 5em;" src="<%= quiz.imageUrl%>" alt="" srcset="">
            <% } else{ %>

            <img class="rounded" style="width: 6em; height: 5em;" src="/imgs/home/gukarinophoto.png" alt="" srcset="">
            <% } %>
            <div class="flex flex-col  ml-1">
                <span class="title font-medium   text-md    "><%= quiz.title%></span>
                <span class="author">
                    <% const getRandomColorClass = () => {
                        const colors = ['blue', 'gray', 'red', 'green', 'yellow', 'indigo'];
                        const randomIndex = Math.floor(Math.random() * colors.length);
                        return colors[randomIndex];
                    }; %>
                
                    <% foundquiz.tags.slice(2, 4).forEach(tag => { %>
                        <span class="w-7 <%= tag.color %> text-xs text-black font-medium mr-2 px-2.5 py-0.5 rounded">
                            <%= tag.name %>
                        </span>
                    <% }) %>
                </span>
                <%
                const createdAt = new Date(); // Assuming createdAt is a Date object
                const options = {
                  weekday: 'short', // Short weekday name (e.g., Sat)
                  day: '2-digit',    // Day of the month with leading zeros (e.g., 23)
                  year: 'numeric'    // Full year (e.g., 2021)
                };
                const Quizcreated = createdAt.toLocaleDateString('en-US', options);
                
                // Calculate the time difference in milliseconds
                const timeDifference = Date.now() - createdAt.getTime();
                
                // Define time intervals in milliseconds
                const minute = 60 * 1000;
                const hour = minute * 60;
                const day = hour * 24;
                const week = day * 7;
                const month = day * 30; // Assuming 30 days in a month
                
                let formattedDate;
                
                if (timeDifference < minute) {
                  formattedDate = `${Math.floor(timeDifference / 1000)} seconds ago`;
                } else if (timeDifference < hour) {
                  formattedDate = `${Math.floor(timeDifference / minute)} minutes ago`;
                } else if (timeDifference < day) {
                  formattedDate = `${Math.floor(timeDifference / hour)} hours ago`;
                } else if (timeDifference < week) {
                  formattedDate = `${Math.floor(timeDifference / day)} days ago`;
                } else if (timeDifference < month) {
                  formattedDate = `${Math.floor(timeDifference / week)} weeks ago`;
                } else {
                  const monthsAgo = Math.floor(timeDifference / month);
                  formattedDate = `${monthsAgo} ${monthsAgo === 1 ? 'month' : 'months'} ago`;
                }
                %>
                <span class="plays text-sm">
                    <i class="bi bi-play-fill text-sm text-red-700"></i> <%= quiz.viewcount%> . <%=formattedDate %>
                </span>


            </div>
        </a>
        <% } %>
        <% } %>
    </div>
    <br><br><br>

</div>

    <script>
        const saveForm = document.getElementById('saveForm');
        const starnum = document.querySelector('.starnum');
        const savesButton = saveForm.querySelector('.bi-star-fill');
        if (starnum.innerHTML == 0) {
            savesButton.classList.remove('bi-star-fill');
            savesButton.classList.add('bi-star');
        }
        saveForm.addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent default form submission behavior



            if (savesButton.classList.contains('bi-star-fill')) {
                savesButton.classList.remove('bi-star-fill');
                savesButton.classList.add('bi-star');
                if (parseInt(starnum.innerHTML) > 0) {
                    starnum.innerHTML = parseInt(starnum.innerHTML) - 1;

                } else {
                    starnum.innerHTML = 0;
                    savesButton.classList.remove('bi-star-fill');
                    savesButton.classList.add('bi-star');
                }

                saveQuizCard(false);
            } else {
                savesButton.classList.remove('bi-star');
                savesButton.classList.add('bi-star-fill');
                starnum.innerHTML = parseInt(starnum.innerHTML) + 1;
                saveQuizCard(true);
            }
        });

        function saveQuizCard(isSaved) {
            const url = saveForm.getAttribute('action');
            const method = saveForm.getAttribute('method');
            const data = {};

            // Make the request using Axios
            axios({
                method: method,
                url: url,
                data: data,
            })
                .then((response) => {
                    const { success, message } = response.data;

                    if (success) {
                        // Display success flash message
                        // Swal.fire('Success', message, 'success');
                    } else {
                        // Display error flash message
                        Swal.fire('Error', message, 'error');
                    }
                })
                .catch((error, message) => {
                    // Display error flash message
                    Swal.fire('Error', message, 'error');
                    console.log('Error:', error);
                });
        }

        const duplicatecard = document.querySelector('.duplicatecard')
        duplicatecard.addEventListener('click', function (event) {
            event.preventDefault(); // Prevent default form submission behavior
            const dataid = duplicatecard.getAttribute('data-id');
            const duplicatepopout = document.querySelector(`[data-id="${dataid}"]`);
            duplicatepopout.classList.remove('hidden');
        });
    
        const clonecard = document.getElementById('clonecard');
        clonecard.addEventListener('click', function (event) {


            event.preventDefault(); // Prevent default form submission behavior
            //make a featch post rewurst ot quizcard/quizid/clone
            //then redirect to the new quizcard

            const url = '/quiz/<%= foundquiz._id %>/clone';
            const method = 'POST';
            const data = {};
            fetch(url, {
                method: method,
                body: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json',
                },
            })
                .then((response) => response.json())
                .then((data) => {
                    if (data.success) {
                        Swal.fire('Success', data.message, 'success');
                        window.location.href = '/home/quiz/' + data.quiz._id;
                    } else {
                        Swal.fire('Error', data.message, 'error');
                    }
                })
                .catch((error) => {
                    Swal.fire('Error', error.message, 'error');
                    console.error('Error:', error);
                });

        });


        const duplicatecard2 = document.querySelector('.duplicatecard2')
        duplicatecard2.addEventListener('click',function(e){
            e.preventDefault(); // Prevent default form submission behavior
            const duplicatepopout = document.querySelector(`.addterms`);

            duplicatepopout.classList.remove('hidden');
        })
    const addterms = document.getElementById('addterms');
    addterms.addEventListener('click',function(e){
        const cardid = '<%= foundquiz._id %>'
        e.preventDefault(); // Prevent default form submission behavior
        const url = '/quiz/<%= foundquiz._id %>/combined';
        const method = 'POST';
        const data = {
            quizid: document.getElementById('usercards').value,

        };
        fetch(url, {
            method: method,
            body: JSON.stringify(data),
            headers: {
                'Content-Type': 'application/json',
            },
        })
            .then((response) => response.json())
            .then((data) => {
                if (data.status == 200) {
                    Swal.fire('Success', data.message, 'success');
                    window.location.href = '/home/quiz/' + quizid;
                } else {
                    Swal.fire('Error', data.message, 'error');
                }
            })
            .catch((error) => {
                Swal.fire('Error', error.message, 'error');
                console.error('Error:', error);
            });
    })
    const duplicatecard3 = document.querySelector('.duplicatecard3')
    const createbtn2 = document.querySelector('#createbtn');
    console.log(createbtn2)
    const create = document.querySelector('.create');

const title = document.getElementById('title')
// const titleinput = document.querySelector('.titleinput').value
const visibility = document.getElementById('visibility');
create.addEventListener('click',function(e){
    e.preventDefault(); // Prevent default form submission behavior
    console.log('okkk')
    const url = '/folder/new';
    const method = 'POST';
    const data = {
        title: title.value,
        visibility: visibility.value,
    };
    fetch(url, {
        method: method,
        body: JSON.stringify(data),
        headers: {
            'Content-Type': 'application/json',
        },
    })
        .then((response) => response.json())
        .then((data) => {
            if (data.status == 200) {
                Swal.fire('Success', data.message, 'success');
                window.location.href = '/home/quiz/' + quizid;
            } else {
                Swal.fire('Error', data.message, 'error');
            }
        })
        .catch((error) => {
            Swal.fire('Error', error.message, 'error');
            console.error('Error:', error);
        });
})

    duplicatecard3.addEventListener('click',function(e){
        console.log('click')
        e.preventDefault(); // Prevent default form submission behavior
        const dataid = duplicatecard3.getAttribute('data-id');
        const duplicatepopout = document.querySelector(`.folders`);
        console.log(duplicatepopout)
        duplicatepopout.classList.toggle('hidden');
    })
    const newfolder = document.querySelector('.newfolder');
    const newfolderbtn = document.querySelector('.newfolderbtn');
        
    newfolderbtn.addEventListener('click',function(e){
        e.preventDefault(); // Prevent default form submission behavior
        newfolder.classList.toggle('hidden');
        newfolderbtn.classList.toggle('hidden');

    })
  
    const checkbox = document.getElementById('checkbox-item');

checkbox.addEventListener('change', function() {
  if (this.checked) {
    // Make the POST request here
    makePostRequest();
  }
});

function makePostRequest(id,listid) {
// Your code to make the POST request goes here
// You can use methods like fetch or XMLHttpRequest
fetch(`/card/${id}/list/${listid}`, {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json',
    // Add any other headers if required
  },
  body: JSON.stringify({
    // Add any data you want to send in the request body
    // For example, you might want to send folder._id or folder.name
  })
})
.then(response => response.json())
.then(data => {
  // Handle the response from the server if needed
})
.catch(error => {
  console.error('Error:', error);
});
}
    </script>
        <br><br><br>
