<% layout('./layouts/boilerplate.ejs')%>
<%- include('../../layouts/partials/settings.ejs') %>
<title>
    <%= user.username%> - Gukari

</title>
    <style>
       

        

        .main1 {
            display: flex;
            width: 100%;
            flex-direction: column-reverse;
        }

        .usermail {
            display: flex;
            flex-direction: column;
            justify-content: end;
        }

        .whiteb {
            border: 3px solid white;
            border-radius: 4em;
        }

        .userlayc {
            background: url('https://yt3.googleusercontent.com/QtY6L3kVmM6fkVd77-wBxNS8PVzuzmhQ0QiTTrOLH1ico1DaZz5VhaIsZ9a5gTIuqt9wsGa3qU0=w2560-fcrop64=1,00005a57ffffa5a8-k-c0xffffffff-no-nd-rj');
    background-size: contain;
    height: 100%;
    background-repeat: no-repeat;
        }

      
        .usercard{
            margin-top: -5em;
        }
        .about-prfile{
                width: 30%;

            }
            .usermedia{
                width: 70%;
            }
        @media only screen and (max-width: 600px) {
            .about-prfile{
                width: 100%;

            }
            .usermedia{
                width: 100%;
            }
            .flex-colum{
                flex-direction: column;
            }

        }
    </style>

    <div class="content white-black t st fullscreen" id="content-menu" style="padding: 0; height: 100vh; overflow: scroll;">

        <input type="text" class="studenturl1" style="display:none"
            value="https://cdn.dribbble.com/users/2173663/avatars/normal/c4c633361e233ae7e0b9882264c95b1a.jpg?1579775888&compress=1&resize=80x80 "
            name="" id="">
        <div class="" style="height: 17em;">
            <div class="userlayc"></div>

        </div>

        <div class="setting pl-2 pr-3">
            <div class="usercard">
                <div class="usercon flex justify-between">
                    <div class="aboutuser  flex items-center">
                        <div class="whiteb">
                            <div id="main1" class=" rounded-md  student-photo1">
                                <% if(user){ %>
                                <% if(user.photourl){ %>
                                <img class="w-16 h-16 rounded-full" src="<%= user.photourl %>" alt="" srcset="">
                                <% }else{ %>
                                    <% const firstLetter = user.username.charAt(0); %>

                                    <span class="w-16 h-16 text-center bg-<%= user.profilecolor%>-500 rounded-full text-white font-medium  text-2xl flex justify-center items-center"><%=firstLetter %></span>

                                <% } %>
                                <% } %>
                            </div>
                        </div>
                        <div class="usermail pl-2">
                            <span class="font-700  text-2xl">
                                <%= user.username %> <span class="text-xs bg-purple-200 p-1 rounded-full 
                                ">teacher</span>
                            </span>
                            <span class="font-600 text-gray-500 text-sm">
                             @ <%= user.handle %>
                            </span>
                        </div>
                    </div>
                    <div class="button">
                     
                        <button id="follow" class="p-3 border-0 rounded-lg border hover:bg-gray-800 text-white rounded bg-black">Follow</button>
                    </div>
                </div>
           
                
                
            </div>
<br>
<div class="flex flex-colum"> 
            <section class="usermedia">
                   
                    <div class="mb-4">
                        <ul class="flex border rounded-lg white-black mt-2 flex-wrap -mb-px text-sm font-medium text-center"
                            id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
                            <li class="mr-2" role="presentation">
                                <button
                                    class="inline-block p-4 rounded-t-lg focus:outline-none focus:border-blue-500 {{activeTab === 'IT' ? 'border-b-2 border-blue-500' : 'border-b-0'}}"
                                    id="Home-tab" data-tabs-target="#Home" type="button" role="tab" aria-controls="Home"
                                    aria-selected="{{activeTab === 'Home' ? 'true' : 'false'}}"><i
                                        class="bi bi-train-freight-front"></i>HOME
                                    </button>
                            </li>

                            <li class="mr-2" role="presentation">
                                <button
                                    class="inline-block p-4 rounded-t-lg focus:outline-none focus:border-blue-500 {{activeTab === 'IT' ? 'border-b-2 border-blue-500' : 'border-b-0'}}"
                                    id="IT-tab" data-tabs-target="#IT" type="button" role="tab" aria-controls="IT"
                                    aria-selected="{{activeTab === 'IT' ? 'true' : 'false'}}"><i
                                        class="bi bi-train-freight-front"></i>QUIZCARD
                                    </button>
                            </li>
                            <li class="mr-2" role="presentation">
                                <button
                                    class="inline-block p-4 rounded-t-lg focus:outline-none focus:border-blue-500 {{activeTab === 'dashboard' ? 'border-b-2 border-blue-500' : 'border-b-0'}}"
                                    id="Video-tab" data-tabs-target="#Video" type="button" role="tab"
                                    aria-controls="Video"
                                    aria-selected="{{activeTab === 'Video' ? 'true' : 'false'}}">VIDEO</button>
                            </li>
                            <li role="presentation">
                                <button
                                    class="inline-block p-4 rounded-t-lg focus:outline-none focus:border-blue-500 {{activeTab === 'contacts' ? 'border-b-2 border-blue-500' : 'border-b-0'}}"
                                    id="Uploads-tab" data-tabs-target="#Uploads" type="button" role="tab"
                                    aria-controls="Uploads"
                                    aria-selected="{{activeTab === 'Uploads' ? 'true' : 'false'}}">UPLOADS</button>
                            </li>
                            <li class="mr-2" role="presentation">
                                <button
                                    class="inline-block p-4 rounded-t-lg focus:outline-none focus:border-blue-500 {{activeTab === 'settings' ? 'border-b-2 border-blue-500' : 'border-b-0'}}"
                                    id="Playlist-tab" data-tabs-target="#Playlist" type="button" role="tab"
                                    aria-controls="Playlist"
                                    aria-selected="{{activeTab === 'Playlist' ? 'true' : 'false'}}">PLAYLIST</button>
                            </li>
                     
                            <li role="presentation">
                                <button
                                    class="inline-block p-4 rounded-t-lg focus:outline-none focus:border-blue-500 {{activeTab === 'contacts' ? 'border-b-2 border-blue-500' : 'border-b-0'}}"
                                    id="Accounts-tab" data-tabs-target="#Accounts" type="button" role="tab"
                                    aria-controls="Accounts"
                                    aria-selected="{{activeTab === 'Accounts' ? 'true' : 'false'}}">ACCOUNT</button>
                            </li>
                        </ul>
                    </div>
                    <div id="myTabContent">
                        <div class="hidden p-1 rounded-lg ap-ct " id="Home" role="tabpanel" aria-labelledby="Home-tab">
                        <span>HomeTab</span>                            
                        </div>

                        <div class="hidden p-1 rounded-lg ap-ct " id="IT" role="tabpanel" aria-labelledby="IT-tab">
                            <span class="text-2xl"><%=user.username%> projects(<%=userQuizCards.length %>)</span>

                            <div class="flex  p-4 justify-between flex-wrap">

                                <%for(quiz of userQuizCards){ %>
                                <a
                                  href="/home/quiz/<%=quiz._id %>"
                                  class="mb-2 ml-2 p-3 recent-cardd rounded-lg shadow border"
                                  style="width: 17em"
                                >
                                  <div class="kr flex justify-between rounded-lg">
                                    <span class="font-medium text-lg"> <%=quiz.title %> </span>
                                    <button><i class="bi bi-three-dots"></i></button>
                                  </div>
                                  <br />
                                  <div class="flex justify-center items-center">
                                    <%if(quiz.imageUrl){%>
                                    <img
                                      style="
                                        height: 8em;
                                        max-height: 8em;
                                        max-width: 15em;
                                        min-width: 15em;
                                      "
                                      class="w-full rounded-md"
                                      src="<%=quiz.imageUrl %>"
                                      alt=""
                                      srcset=""
                                    />
                                    <%}%>
                                  </div>
                                  <div class="flex justify-between">
                                    <span class="text text-gray-600">
                                      <%=quiz.cards.length %> tearms
                                    </span>
                          
                                    <span class="text text-white"> <%=quiz.plays %> plays </span>
                                  </div>
                                  <br />
                          
                                  <div>
                                    <span>Tags</span>
                                    <div class="flex flex-wrap" style="width: 8em">
                                      <% let counter=0; %> <% quiz.tags.forEach(tag=> { %> <% if (counter
                                      < 4) { %>
                                      <span
                                        class="w-11 <%= tag.color %> mb-3 text-xs text-black font-medium mr-2 px-2.5 py-0.5 rounded"
                                      >
                                        <%= tag.name %>
                                      </span>
                                      <% counter++; %> <% } %> <% }) %>
                                    </div>
                                  </div>
                                  <br />
                                  <div style="margin-top: 0em" class="about flex w-full justify-between">
                                    <div class="flex items-center text-center">
                                      <img
                                        class="rounded-full w-8 h-8"
                                        src="https://i.kinja-img.com/gawker-media/image/upload/c_fill,f_auto,fl_progressive,g_center,h_675,pg_1,q_80,w_1200/89bf5368873d6a613c99caec072e8a52.jpg"
                                        alt=""
                                        srcset=""
                                      />
                                      <span class="ml-2"> <%=user.username %> </span>
                                    </div>
                                    <div class="tags text-center items-center content-center ml-5 flex">
                                      <span
                                        class="bg-red-700 text-white text-xs font-medium mr-2 px-2.5 py-0.5 rounded"
                                      >
                                        <%=user.category%>
                                      </span>
                                    </div>
                                  </div>
                                </a>
                                <% } %>
                              </div>
                              
                        </div>
                        <div class="hidden p-2 rounded-lg ap-ct " id="Video" role="tabpanel"
                            aria-labelledby="dashboard-tab">
                            <div class="flex flex-wrap"> 
                         <%for(let video of userVideoUpload){%>
                            <a href="/home/video/<%=video._id%>" class="ml-5  mb-2" style="width: 16em; display: block;">
                <img class="rounded-lg" style="width: 100%" src="<%=video.thumbnail%>" alt="" srcset="">
        
                <div class="pt-1 recent-cardd">
                  <!-- <span>4:22</span> -->
                  <div class="content-card flex flexcontent-center">
                    <img  src="https://yt3.ggpht.com/ytc/AOPolaTEEuiBNC3ZvDRXQlRj6d0tfCDyl8aY-9z3sQeUhA=s68-c-k-c0x00ffffff-no-rj" class="userimg mb-3 w-10 rounded h-10 rounded-full" alt="" srcset="">
                    <div class="card-info ml-1">
                        
                      <span class="text-sm font-medium w-full leading-3">Learn Chinese Conversation for Elementary Students, Chinese English lesson/span&gt;<br>
                      <div class="flex">
                        <span class="text-sm text-gray-400">Mike tyson</span>
                        <span class="ml-3 text-sm text-gray-400">9k views</span>
                      </div>
                    </span></div>
                  </div>
                </div>
              </a>
                            <%}%>
                        </div>
                        </div>
                        <div class="hidden p-4 rounded-lg ap-ct " id="Playlist" role="tabpanel" aria-labelledby="Playlist-tab">
                            <p class="text-sm  ">This is some placeholder content the <strong
                                    class="font-medium text-gray-800 dark:text-white">Settings tab's associated
                                    content</strong>.
                                Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript
                                swaps
                                classes to control the content visibility and styling.</p>
                        </div>
                        <div class="hidden p-4 rounded-lg ap-ct " id="Uploads" role="tabpanel" aria-labelledby="Uploads-tab">
                            <p class="text-sm  ">This is some placeholder content the <strong
                                    class="font-medium text-gray-800 dark:text-white">Contacts tab's associated
                                    content</strong>.
                                Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript
                                swaps
                                classes to control the content visibility and styling.</p>
                        </div>
                        <div class="hidden p-4 rounded-lg ap-ct " id="Accounts" role="tabpanel" aria-labelledby="Accounts-tab">
                            <p class="text-sm  ">This is some placeholder content the <strong
                                    class="font-medium text-gray-800 dark:text-white">Contacts tab's associated
                                    content</strong>.
                                Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript
                                swaps
                                classes to control the content visibility and styling.</p>
                        </div>
                        
                    </div>
        
        
        
                  
        
            </section>

            <div class="about-prfile">
                <div>
                    <div class="description flex flex-col">
                        <div class="flex justify-between">
                           <span>  @zlivehe55</span>
                           <div class="flex">
                            <span class="text-gray-700">
                            3.2M Followers
                            </span>
                            <span class="text-gray-700 ml-3">300 videos</span>
                            </div>
                            </div>
                            <br>
                    <span>Description</span>
                        <span class="text-sm"> <%=user.description%></span>
                        </div>

                        <div class="flex flex-col">
                            <span>Stats</span>
                            <hr>
                            <span class="mb-1">Joined <%= (new Date(user.createdAt)).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %></span>
                            <hr>
                            <span class="mb-1">Views</span>

                        </div>
                    </div>
            

                <br>
                <span class="text-xl font-medium " >Active Course</span>
                <div>
                 
<div class="flex">
                                <a href="#" class="html" style="width: 14em;">
                                    <img class="rounded-md" src="https://html.com/wp-content/uploads/html-hpg-featured-new.png"
                                        alt="" srcset="">
                                    <div class="html-details">
        
                                        <span class="text-yellow-500 text-sm">HTML</span><br>
                                        <span class="text-lg font-medium">Front-end Development</span><br>
                                        <span class="text-sm text-gray-400">30 Lessons | 23 Hours</span> <br>
                                        <button class="bg-purple-600  mt-3 hover:bg-purple-700 p-2 text-white rounded-xl"><i
                                                class="bi bi-shield-lock-fill mr-1 mb-2"></i>Enroll Now</button>
                                    </div>
                                </a>
                                <a href="#" class="html ml-3" style="width: 14em;">
                                    <img class="rounded-md"
                                        src="https://www.classcentral.com/report/wp-content/uploads/2022/07/SEO-BCG-Banner-2.png"
                                        alt="" srcset="">
                                    <div class="html-details">
        
                                        <span class="text-purple-500 text-sm">SEO</span><br>
                                        <span class="text-lg font-medium">SEO-Biginers</span><br>
                                        <span class="text-sm text-gray-400">23 Lessons | 14 Hours</span> <br>
                                        <button class="bg-purple-100 mt-3 hover:bg-purple-200 p-2 text-purple-500 rounded-xl"><i
                                                class="bi bi-shield-lock-fill  mr-1 mb-"></i>Enroll
                                            Now</button>
                                    </div>
                                </a>
                            </div>

                            <script>
                            
                                </script>
                </div>
            </div>
        </div>
            
        </div>


<script>
    const follow = document.getElementById('follow');

    follow.addEventListener('click',function(e){
        e.preventDefault()
        fetch('/follow/<%=user._id%>', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                follow: true
            })
        }).then(res => res.json())
    })
</script>